@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'ArticulatCF-Bold';
        src: local('ArticulatCF-Bold'), url(./fonts/ArticulatCF-Bold.woff2) format('woff2');
        
    }
    @font-face {
        font-family: 'BelyDisplayW00-Regular';
        src: local('BelyDisplayW00-Regular'), url(./fonts/bely.woff2) format('woff2');
        
    }
    @font-face {
        font-family: 'DMSerifDisplay-Regular';
        src: local('DMSerifDisplay-Regular'), url(./fonts/DMSerifDisplay.woff2) format('woff2');
        
    }
    @font-face {
        font-family: 'Roslindale-DisplayNarrowRegular-Testing';
        src: local('Roslindale-DisplayNarrowRegular-Testing'), url(./fonts/Roslindale-DisplayNarrowRegular-Testing.woff2) format('woff2');
        
    }
    @font-face {
        font-family: 'Roslindale-DisplayCondensedBold-Testing';
        src: local('Roslindale-DisplayCondensedBold-Testing'), url(./fonts/Roslindale-DisplayCondensedBold-Testing.woff2) format('woff2');
        
    }



}