@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'BelyDisplayW00-Regular';
        src: local('BelyDisplayW00-Regular'), url(./fonts/bely.woff2) format('woff2');
        
    }
    @font-face {
        font-family: 'DMSerifDisplay-Regular';
        src: local('DMSerifDisplay-Regular'), url(./fonts/DMSerifDisplay.woff2) format('woff2');
        
    }
    @font-face {
        font-family: 'Roslindale-DisplayNarrowRegular-Testing';
        src: local('Roslindale-DisplayNarrowRegular-Testing'), url(./fonts/Roslindale-DisplayNarrowRegular-Testing.woff2) format('woff2');
        
    }
    @font-face {
        font-family: 'Roslindale-DisplayNarrowLight-Testing';
        src: local('Roslindale-DisplayNarrowLight-Testing'), url(./fonts/Roslindale-DisplayNarrowLight-Testing.woff2) format('woff2');
        
    }
    @font-face {
        font-family: 'Roslindale-DisplayLight-Testing';
        src: local('Roslindale-DisplayLight-Testing'), url(./fonts/Roslindale-DisplayLight-Testing.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Roslindale-DisplayCondensedLight-Testing';
        src: local('Roslindale-DisplayCondensedLight-Testing'), url(./fonts/Roslindale-DisplayCondensedLight-Testing.woff2) format('woff2');
        
    }
    @font-face {
        font-family: 'Roslindale-DisplayCondensedMedium-Testing';
        src: local('Roslindale-DisplayCondensedMedium-Testing'), url(./fonts/Roslindale-DisplayCondensedMedium-Testing.woff2) format('woff2');
        
    }



}